{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <a href="{{ path('addUser') }}"><button class="btn btn-secondary" type="button" name="button">Créer un utilisateur</button></a>
</div>
<div class="row">
  
</div>
{% for user in users %}
<div class="row">
  <div class="col-10 d-flex justify-content-around">
    <a href="{{ path('user', {'id': user.id }) }}"><span class="">{{ user.prenom }}</span></a>
    <a href="{{ path('user', {'id': user.id }) }}"><span class="">{{ user.nom }}</span></a>
    <a href="{{ path('user', {'id': user.id }) }}"><span class="">{{ user.sexe }}</span></a>
    <a href="{{ path('user', {'id': user.id }) }}"><span class="">{{ user.email }}</span></a>
  </div>
</div>
{% endfor %}
{% endblock %}
