{% extends 'base.html.twig' %}

{% block body %}
  <h1>Authentification</h1>
  <p>Cette zone est réservée aux personnes authorisées. Veuillez renseigner les informations demandées ci-dessous. Si vous ne possédez pas de codes d'authentifications sur ce site, merci de retourner à la page d'accueil.</p>
  <a href="{{ path('index') }}"><button type="button" class="btn btn-secondary" name="button">Retour à l'accueil</button></a>

  {{ form_start(formLogin) }}

  {{ form_row(formLogin.name, {'attr': {'placeholder': "Login"}}) }}
  {{ form_row(formLogin.password, {'attr': {'placeholder': "Mot de passe"}}) }}

  <button type="submit" class="btn btn-primary" name="button">Se connecter</button>

  {{ form_end(formLogin) }}
{% endblock %}
