{% extends 'base.html.twig' %}

{% block body %}
  <div class="col-10">
    <p class="">{{ users.prenom }}</p>
    <p class="">{{ users.nom }}</p>
    <p class="">{{ users.dateDeNaissance | date('d/m/Y') }}</p>
    <p class="">{{ users.email }}</p>
    <p class="">{{ users.sexe }}</p>
    <p class="">{{ users.pays }}</p>
    <p class="">{{ users.metier }}</p>
  </div>
{% endblock %}
