{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-10">
    <p class="">{{ users.prenom }}</p>
    <p class="">{{ users.nom }}</p>
    <p class="">{{ users.dateDeNaissance | date('d/m/Y') }}</p>
    <p class="">{{ users.email }}</p>
    <p class="">{{ users.sexe }}</p>
    <p class="">{{ users.pays }}</p>
    <p class="">{{ users.metier }}</p>
  </div>
  <div class="col-2">
    <div class="row">
      <a href="{{ path('editUser', {'id': users.id }) }}"><button type="button" class="btn btn-primary" name="button">Modifier</button></a>
    </div>
    <div class="row">
      <a href=""><button type="button" class="btn btn-primary" name="button">Supprimer l'utilisateur</button></a>
    </div>
  </div>
</div>
{% endblock %}
